{# TODO: Add transations #}

{% if markets|length > 0 %}
    <h3>Best {{ markets|length }} markets</h3>

    Hello! Here are the best markets:
    {% for market in markets %}
        <span>{{ market.name }}: {{ market.getPriceWithMaxChange.price }} ({{ market.getPriceWithMaxChange.change }})</span><br>
    {% endfor %}
{% else %}
    <h3>There are no markets in the db yet</h3>

    <span>Check it later :)</span>
{% endif %}

Thanks, bye!
