{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active js-fetch-markets" href="{{ path('financial_fetch_markets') }}">
                            <span data-feather="home"></span>
                            Fetch World Markets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active js-fetch-markets-ohlc" href="{{ path('financial_fetch_markets_ohlc') }}">
                            <span data-feather="home"></span>
                            Fetch All World Markets OHLC
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active js-send-email" href="{{ path('mail_best_markets') }}">
                            <span data-feather="home"></span>
                            Send Email With Best Markets
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Chart here</h1>
            </div>
            <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/dashboard.js') }}"></script>

    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}
